# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.venv/
env.bak/
env1/
env2/

# IDE specific files
.idea/
.vscode/

# Compiled Python files
*.pyc
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

